

      <!-- Three columns of text below the carousel -->

          <button class="destroy">X</button>
          <img class="img-circle change" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">

          <h2 class="change" data="title"> <p><%= title %></p>
          <input class="edit" value="<%- title %>">
          </h2>

          <div class="change" data="description"><p><%= description %></p>
          <input class="edit" value="<%- description %>">
          </div>
          <p><a class="btn btn-default change" href="#">View details &raquo;</a></p>

